$mtBg: url('../../assets/images/bg_register.png') no-repeat;
$mtBgHeader: url('../../assets/images/bg_home.png') no-repeat;
$mtWhite: #FFFFFF;
$mtBlue: #27347D;
$mtDarkBlue: #212C67;
$mtYellow: #FFA500;
$mtBgYellow: linear-gradient(#FFB82A,#FF9900);
$mtBorder: 1px solid #f0f0f0;
